
.cash-out-btn{
    margin-top: 20px;
    margin-left: -70px;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: 0px;
    font-size: 22px;
    background-color: #C137E5;
    color: #fff;
    cursor: pointer;
}

@media (max-width: 768px) {
    canvas{
        padding-left: 22%;
        transform: scale(0.67);
        font-size: 26px;
    }
    .cash-out-btn{
        margin-left: 0px;

    }
    
}