.explanation-card{
    height: 260px;
    width: 210px;
    border-radius: 2px;
    background-color: #302B60;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5px;

}

.explanation-card img{
    height: 53%;
    width: 100%;
    object-fit:cover;
    object-position: bottom;
}

.explanation-card h2{
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #A5E5FF;
}
.explanation-card h4{
    font-family: "Anton", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #A5E5FF;
    font-size: 15px;

}

@media (max-width:768px) {
    .explanation-card{
        height: 240px;
        width: 60%;
        border-radius: 2px;
        background-color: #302B60;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 5px;
    
    }
}