.plinko-full{
    background-color: #0C012B;
    overflow: hidden;
}

.plinko-main{
    display: flex;
}

.plinko-left-main{
width: 20%;
height: 85vh;
display: flex;
flex-direction: column;
}
.plinko-right-main{
    width: 65%;
height: 80vh;
display: flex;
flex-direction: column-reverse;
margin-left: 5vw;
align-items: center;
justify-content: center;
position: relative;
margin-top: 2vh;
}


@media (max-width: 768px) {
    .plinko-main{
        flex-direction: column-reverse;
    }

    .plinko-left-main{
        width: 80%;
        height: 100vh;
        margin-left: 10%;
        display: flex;
        flex-direction: column;
        margin-top: 5vh;
        }
        .plinko-right-main{
            width: 100vw;
        height: 80vh;
        display: flex;
        flex-direction: column-reverse;
        margin-left: 0;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-top: 2vh;
        margin-top: -10vh;
        }
    
}