.grid-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 440px; /* Možeš prilagoditi */
    height: 450px;
    margin: 20px auto;
    border: 2px solid #ccc;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    cursor: url("../../assets/CashHuntIcons/target.png") 32 32, auto;
}

/* Stil za pojedinačne ćelije */
.grid-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    cursor: url("../../assets/CashHuntIcons/target.png") 32 32, auto; /* Same cursor image */

    border-radius: 5px;
}



.grid-img{
    height: 40px ;
    width: 40px ;
    object-fit: contain;
    cursor: url("../../assets/CashHuntIcons/target.png") 32 32, auto;
}