
.nav{
    height: 10vh;
    background-color: #0C012B;
    z-index: 10;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    height: 40%;
    cursor: pointer;
    margin-left: 20px;
}

.nav h1{
    margin-right: 20px;
    color: #fff;
}

.profile-img{
    height: 7vh;
    width: 7vh;
    border-radius: 50%;
    border: 1px solid black;
    overflow: hidden;
}
.rght{
    display: flex;
    margin-right: 20px;
}
.profile-img img{
    width: 7vh;
    width: 7vh;
}