.roulette-full{
    background-color: #0C012B;
    overflow-x: hidden;
}
.roulette-main{
    display: flex;
}
.roulette-main-mobile{
    display: flex;
    flex-direction: column-reverse;
}
.roulette-left-main{
width: 20%;
height: 85vh;
display: flex;
flex-direction: column;
}
.roulette-left-main-mobile{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: -10vh;
    margin-left: -2vw;
    transform: scale(0.9);

}
.roulette-right-main{
    width: 75%;
height: 80vh;
display: flex;
flex-direction: column-reverse;
margin-left: 5vw;
align-items: center;
position: relative;
margin-top: 5vh;

}
.roulette-right-main-mobile{
    width: 100%;
height: 60vh;
display: flex;
flex-direction: column-reverse;
align-items: center;
position: relative;
margin-top: 5vh;

}
.mobile-wheel{
    position: relative;
    top: 30px;
    transform: scale(0.65);
}
.arrow{
    position: absolute;
    rotate: 90deg;
    height: 25px;
    top: 55px;
    animation: bounce 6s linear  infinite ;
}
.arrow-mobile{
    position: absolute;
    rotate: 90deg;
    height: 25px;
    top: 25px;
    transform: scale(0.7);
    animation: bounce1 6s linear  infinite ;

}
.winning-number{
    position: absolute;
    top: -20px;
    color: #fff;
    font-size: 32px;
    border-radius: 5px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.winning-number-mobile{
    position: absolute;
    top: -20px;
    color: #fff;
    font-size: 42px;
    border-radius: 5px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.6);
}

.winn{
    position: absolute;
    z-index: 20;
    height: 600px;
}
.results-text{
    position: absolute;
    z-index: 10;
    font-size: 42px;
    color: #Fff;
    top: 250px;
}


  @keyframes bounce{
    20%{
        top: 55px;
    }
    30%{
        top: 62px;
    }
    40%{
        top: 55px;
    }
    50%{
        top: 62px;
    }
    60%{
        top: 55px;
    }
    70%{
        top: 62px;
    }
    80%{
        top: 55px;
    }

    100%{
        top: 55px;
    }

  }
  @keyframes bounce1{
    20%{
        top: 25px;
    }
    30%{
        top: 32px;
    }
    40%{
        top: 25px;
    }
    50%{
        top: 32px;
    }
    60%{
        top: 25px;
    }
    70%{
        top: 32px;
    }
    80%{
        top: 25px;
    }

    100%{
        top: 25px;
    }

  }