.roulette-full{
    background-color: #0C012B;
    overflow: hidden;
}

.roulette-main{
    display: flex;
}

.roulette-left-main{
width: 20%;
height: 85vh;
display: flex;
flex-direction: column;
}
.roulette-right-main{
    width: 75%;
height: 80vh;
display: flex;
flex-direction: column-reverse;
margin-left: 5vw;
align-items: center;
position: relative;
margin-top: 5vh;

}

.arrow{
    position: absolute;
    rotate: 90deg;
    height: 25px;
    top: 55px;
    animation: bounce 6s linear  infinite ;
}

.winning-number{
    position: absolute;
    top: -20px;
    color: #fff;
    font-size: 42px;
    border-radius: 5px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}




  @keyframes bounce{
    20%{
        top: 55px;
    }
    30%{
        top: 62px;
    }
    40%{
        top: 55px;
    }
    50%{
        top: 62px;
    }
    60%{
        top: 55px;
    }
    70%{
        top: 62px;
    }
    80%{
        top: 55px;
    }

    100%{
        top: 55px;
    }

  }