.roulette-full{
    background-color: #0C012B;
}

.roulette-main{
    display: flex;
}

.roulette-left-main{
width: 20%;
height: 85vh;
display: flex;
flex-direction: column;
}
.roulette-right-main{
    width: 75%;
height: 80vh;
display: flex;
flex-direction: column-reverse;
margin-left: 5vw;
align-items: center;

}