.cashHunt-full{
    background-color: #0C012B;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow-y: hidden!important;
    justify-content: center;
    
}

.canon{
    position: absolute;
    top: 65vh;
    width: 160px;
    height: 160px;
    left: 55vw;
}

.canon-down{
    z-index: 10;
}
.canon-top{
    z-index: 1;

}

.cash-full{
    background-color: #0C012B;
    overflow: hidden;
}

.cash-main{
    display: flex;
}

.cash-left-main{
width: 20%;
height: 85vh;
display: flex;
flex-direction: column;
}
.cash-right-main{
    width: 65%;
height: 85vh;
display: flex;
flex-direction: column-reverse;
margin-left: 5vw;
align-items: center;
justify-content: center;
position: relative;
margin-top: 2vh;
}
